*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
}
.tittle_calculator{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    justify-content: center;
}
.input{
    background-color: #1a1a1a;
    border: 0 solid #000;
    border-bottom: 1px solid #000;
    width: 500px;
    padding: 5px;
    color: #000;
    font-size: 2rem;
    font-weight: 600;

}
.btn{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    width: 100px;
    height: 75px;
    border: .5px solid #000000;
    border-radius: 20px;
    background: #2b2b2b;
}

.list__btn-1{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.list__btn-2{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.list__btn-3{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.list__btn-4{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.list__btn-5{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 10px;
    width: 200px;
    background-color: #2b2b2b;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
    padding: 10px;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
#historyBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}